﻿<div class="portlet box default no-margin">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-info"></i> Review
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                    <label for="emergencyContactStatus" class="col-lg-2 col-md-2 control-label">Status</label>
                    <div class="col-lg-10 col-md-10 col-sm-12">
                        <div class="btn-group nopadding btn-group-justified">                        
                            <label class="btn col-md-6"
                                   ng-repeat="item in vm.constants.reviewStatus" ng-click="vm.save()"
                                   ng-model="vm.review.reviewStatus" uib-btn-radio="item.id"
                                   ng-class="{ 'green-jungle': vm.review.reviewStatus == item.id, 'btn-default': vm.review.reviewStatus != item.id }">
                                {{ item.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <textarea ng-show="vm.review.reviewStatus == 3" clear-hide class="form-control" ng-model="vm.review.reviewComments" rows="4" ng-blur="vm.save()"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>