﻿<div class="portlet light bordered no-margin margin-bottom-20 margin-top-20">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-info"></i> Notes
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <p class="text-danger">{{ vm.review.reviewComments }}</p>
            </div>
        </div>
    </div>
</div>