﻿<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary custom-primary-button" ng-click="ok()" ng-if="confirmText">{{confirmText}}</button>
        <button class="btn btn-default" ng-click="cancel()">{{cancelText}}</button>
    </div>
</div>