﻿<div ng-if="vm.showPhotoPreview" class="img-preview-container cbp-popup-wrap cbp-popup-lightbox cbp-popup-ready" style="padding: 17%;z-index:9999;">
    <div class="cbp-popup-content">
        <div class="cbp-popup-lightbox-figure">
            <img src="{{vm.photoPath}}" class="cbp-popup-lightbox-img img-thumbnail-style">
        </div>
    </div>
    <div class="cbp-popup-loadingBox"></div>
    <div class="cbp-popup-navigation-wrap">
        <div class="cbp-popup-navigation">
            <div ng-click="vm.showPhotoPreview = false; vm.photoPath = null;" class="cbp-popup-close" title="Close"></div>
        </div>
    </div>
</div>