﻿<div ng-if="vm.showPreview" class="cbp-popup-wrap cbp-popup-lightbox cbp-popup-lightbox-isIframe cbp-popup-ready" data-action="close" style="z-index:9999;">
    <div class="cbp-popup-content">
        <div class="cbp-popup-lightbox-iframe">
            <video id="video" autoplay allowfullscreen="true" controls="controls" controlsList="nodownload">
                <source id="videoSource" ng-src="{{ vm.videoPath | trustUrl }}">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="cbp-popup-loadingBox"></div>
    <div class="cbp-popup-navigation-wrap">
        <div class="cbp-popup-navigation">
            <div ng-click="vm.showPreview = false; vm.videoPath = null;" class="cbp-popup-close" title="Close"></div>
        </div>
    </div>
</div>