﻿<div class="page-sidebar navbar-collapse collapse custom-sidebar-background sidebar-container">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" keep-expanded="false" auto-scroll="true" slide-speed="200">
        <li class="start nav-item" ui-sref="home" ui-sref-active="active">
            <a class="font-default font-hg">
                <i class="icon-home"></i>
                <span class="title">Home</span>
            </a>
        </li>
        <li class="start nav-item" ui-sref="policy" ui-sref-active="active">
            <a class="font-default font-hg">
                <i class="icon-book-open"></i>
                <span class="title">Policies</span>
            </a>
        </li>
    </ul>

    <!-- END SIDEBAR MENU -->
</div>