﻿<div class="form-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-sm-12">
                <div class="alert alert-danger" ng-show="vm.errors.length">
                    This Contract could not be added because of the following:
                    <ul>
                        <li ng-repeat="e in vm.errors">
                            {{e}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="insured" class="col-lg-4 col-md-5 control-label">Insured:</label>
                    <div class="col-lg-8 col-md-7">
                        <ui-select ng-model="vm.policy.insuredId" name="insured" required>
                            <ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.insuredList| orderBy:'value'" refresh="vm.searchInsured($select.search)" ng-click="vm.setInsured()">
                                {{item.value}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="font-xs text-muted col-lg-8 col-md-7 col-lg-offset-4 col-md-offset-5 margin-top-10" ng-if="vm.insured">
                       Occupation: {{vm.insured.occupation}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="broker" class="col-lg-4 col-md-5 control-label">Broker:</label>
                    <div class="col-lg-8 col-md-7">
                        <ui-select ng-model="vm.policy.brokerId" name="broker" required>
                            <ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.brokerList| orderBy:'value'" refresh="vm.searchBroker($select.search)" ng-click="vm.setBroker()">
                                {{item.value}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="font-xs text-muted text-justify col-lg-8 col-md-7 col-lg-offset-4 col-md-offset-5 margin-top-10" ng-if="vm.broker">
                        {{vm.broker.brokerContact}}<br/>
                        {{vm.broker.brokerEmail}}<br />
                        {{vm.broker.location}}<br />
                        {{vm.broker.state}}<br />
                    </div>
                </div>
                <div class="form-group">
                    <label for="holdingBroker" class="col-lg-4 col-md-5 control-label">Holding Broker:</label>
                    <div class="col-lg-8 col-md-7">
                        <ui-select ng-model="vm.policy.holdingBrokerId" name="broker" required>
                            <ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.brokerList| orderBy:'value'" refresh="vm.searchBroker($select.search)">
                                {{item.value}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="holdingInsurer" class="col-lg-4 col-md-5 control-label">Holding Insurer:</label>
                    <div class="col-lg-8 col-md-7">
                        <ui-select ng-model="vm.policy.holdingInsurerId" name="insured" required>
                            <ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.insuredList| orderBy:'value'" refresh="vm.searchInsured($select.search)">
                                {{item.value}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="underwriterId" class="col-lg-4 col-md-5 control-label" >Underwriter:</label>
                    <div class="col-lg-8 col-md-7">
                        <select ng-disabled="vm.isReadOnly" class="form-control" id="underwriterId" name="underwriterId" ng-model="vm.policy.underwriterId" ng-options="type.id as type.value for type in vm.underwriterList | orderBy:'value'"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div ng-if="vm.isPolicyDetails">
                    <div class="form-group">
                        <label for="refNo" class="col-lg-4 col-md-5 control-label">Ref No.:</label>
                        <div class="col-lg-8 col-md-7 display-label">
                            <span class="display-control ng-binding text-bold">{{vm.policy.refNo}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="isrNo" class="col-lg-4 col-md-5 control-label">ISR Policy Number:</label>
                        <div class="col-lg-8 col-md-7 display-label">
                            <span class="display-control ng-binding text-bold">{{vm.policy.policyNo}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quoteNo" class="col-lg-4 col-md-5 control-label">Quote Number:</label>
                        <div class="col-lg-8 col-md-7 display-label">
                            <span class="display-control ng-binding text-bold">{{vm.policy.quoteNo}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dicNo" class="col-lg-4 col-md-5 control-label">DIC Policy Number:</label>
                        <div class="col-lg-8 col-md-7 display-label">
                            <span class="display-control ng-binding text-bold">{{vm.policy.dicPolicyNo}}</span>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="transactionTypeId" class="col-lg-4 col-md-5 control-label">Transaction type:</label>
                    <div class="col-lg-8 col-md-7">
                        <select ng-disabled="vm.isReadOnly" class="form-control" id="transactionTypeId" name="transactionTypeId" ng-model="vm.policy.transactionTypeId" ng-options="type.id as type.value for type in vm.transactionTypeList | orderBy:'value'"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="period" class="col-lg-4 col-md-5 control-label">Period of cover:</label>
                    <div class="col-lg-8 col-md-7" style="padding:0px">
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input class="form-control" type="text" id="periodOfCoverFrom" ng-model="vm.policy.periodOfCoverFrom" ng-change="vm.populateEndDate()" date-picker />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <label class="col-lg-1 text-center">-</label>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input class="form-control" type="text" ng-model="vm.policy.periodOfCoverTo" date-picker />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="status" class="col-lg-4 col-md-5 control-label">Status:</label>
                    <div class="col-lg-8 col-md-7">
                        <select ng-disabled="vm.isReadOnly" class="form-control" id="status" 
                                name="status" ng-model="vm.policy.statusId" 
                                ng-options="status.id as status.value for status in vm.statusList | orderBy:'value'"
                                ng-change="vm.checkStatus()"></select>
                    </div>
                </div>
                <div ng-hide="vm.hideReasonDiv" class="form-group">
                    <label for="reason" class="col-lg-4 col-md-5 control-label">Reason:</label>
                    <div class="col-lg-8 col-md-7">
                        <select ng-disabled="vm.disableReason" class="form-control" id="status" name="status" ng-model="vm.policy.reasonId" ng-options="type.id as type.value for type in vm.reasonList | orderBy:'value'"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="period" class="col-lg-4 col-md-5 control-label">Transaction effective date:</label>
                    <div class="col-lg-8 col-md-7" style="padding:0px">
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input class="form-control" type="text" ng-model="vm.policy.effectivityFrom" date-picker />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <label class="col-lg-1 text-center">-</label>
                        <div class="col-lg-5">
                            <div class="input-group">
                                <input class="form-control" type="text" ng-model="vm.policy.effectivityTo" date-picker />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

