﻿<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="home">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="policy">Policies</a>
        </li>
    </ul>
</div>

<div class="row margin-top-20">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-book-open"></i>
                    Policies
                </div>
                <div class="pull-right">
                    <button type="button" class="btn green-jungle" ui-sref="policy-add">
                        <i class="fa fa-plus"></i>
                        New Policy
                    </button>
                </div>
            </div>
            <div class="portlet-body clearfix">
                <div class="form form-horizontal">
                    <div class="form-body clearfix">
                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-4">Status:</label>
                                    <div class="col-lg-8">
                                        <select class="form-control" ng-model="vm.filters.status" ng-options="item.id as item.value for item in vm.statuses">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Inception:</label>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <input class="form-control" type="text" ng-model="vm.filters.from" date-picker />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">To:</label>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <input class="form-control" type="text" ng-model="vm.filters.to" date-picker />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-4">Insured Name:</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" ng-model="vm.filters.name" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-4">Broker:</label>
                                    <div class="col-lg-8 col-md-7">
                                        <ui-select ng-model="vm.policy.brokerId" name="broker" required>
                                            <ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in vm.brokerList| orderBy:'value'" refresh="vm.searchBroker($select.search)">
                                                {{item.value}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-4">Underwriter:</label>
                                    <div class="col-lg-8">
                                        <select class="form-control" ng-model="vm.filters.underwriter" ng-options="item.id as item.value for item in vm.underwriters">
                                            <option value="">All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-4">Quote/Policy Number:</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" ng-model="vm.filters.name" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-4">Ref No:</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" ng-model="vm.filters.name" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions text-right">
                        <button type="button" class="btn btn-primary simple-form-button" ng-click="vm.search()">
                            <i class="fa fa-search"></i>
                            Search
                        </button>
                        <button type="button" class="btn btn-default simple-form-button" ng-click="vm.clear()">
                            <i class="fa fa-remove"></i>
                            Clear
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <table bt settings="vm.table" id="policyTable"></table>
            </div>
        </div>
    </div>
</div>