﻿<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="home">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="policy">Policy</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="policy-add">Add</a>
        </li>
    </ul>
</div>

<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="portlet well bg-white clearfix bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-book-open"></i>
                    New Policy
                </div>
                <div class="form-group pull-right" style="padding:2px 0;">
                    <a class="btn btn-default green-jungle custom-secondary-button" ng-click="vm.save()">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Save
                    </a>
                    <a class="btn btn-default imple-form-button" ui-sref="policy">
                        <i class="glyphicon glyphicon-remove"></i>
                        Cancel
                    </a>
                </div>
            </div>
            
        </div>
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <form novalidate class="form-horizontal" role="form" name="policyForm" ng-submit="vm.save(policyForm.$valid)">
                    <div ng-include="'app/components/policy/_policyForm.html'"></div>
                </form>
            </div>

        </div>
    </div>
</div>