﻿<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="home">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="policy">Policy</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Details</a>
        </li>
    </ul>
</div>

<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="portlet well bg-white clearfix bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-book-open"></i>
                    Policy Details
                </div>
                <div class="form-group form-inline pull-right" style="padding:2px 0;">
                    <div class="btn-group">
                        <a class="btn blue btn-outline" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            Actions
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right" >
                            <li ng-repeat="action in vm.actionList">
                                <a href="">{{action}}</a>
                            </li>
                        </ul>
                    </div>
                    <span style="padding-left: 0px">
                        <a class="btn btn-primary custom-secondary-button" ui-sref="policy-edit({id: vm.id})">
                            <i class="fa fa-pencil"></i>
                            Edit
                        </a>
                    </span>
                </div>
            </div>

        </div>
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row margin-top-30">
                    <div class="col-md-12">
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">Insured:</label>
                                    <div class="col-md-7">
                                        <p class="text-left remove-margins sbold">
                                            {{ vm.insured.value }}
                                        </p>
                                        <div class="font-xs text-muted"ng-if="vm.insured">
                                            Occupation: {{vm.insured.occupation}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 margin-top-10">
                        <div class="col-sm-12 col-lg-4 col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">Broker:</label>
                                    <div class="col-md-7">
                                        <p class="text-left remove-margins">
                                            {{ vm.broker.value }}
                                        </p>
                                        <div class="font-xs text-muted" ng-if="vm.broker">
                                            {{vm.broker.brokerContact}}<br />
                                            {{vm.broker.brokerEmail}}<br />
                                            {{vm.broker.location}}<br />
                                            {{vm.broker.state}}<br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">Holding Broker:</label>
                                    <div class="col-md-7">
                                        <p class="text-left">
                                            {{ vm.holdingBroker.value }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">Holding Insurer:</label>
                                    <div class="col-md-7">
                                        <p class="text-left">
                                            {{ vm.holdingInsurer.value }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">Transaction type:</label>
                                    <div class="col-md-7">
                                        <p class="text-left">
                                            {{ vm.transactionType.value }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">Period of cover:</label>
                                    <div class="col-md-7">
                                        <p class="text-left">
                                            {{ vm.periodOfCover }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">Status:</label>
                                    <div class="col-md-7">
                                        <p class="text-left" ng-bind-html="vm.status">
                                            <!--{{ vm.status.value }}-->
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">Transaction effective date:</label>
                                    <div class="col-md-7">
                                        <p class="text-left">
                                            {{ vm.effectivityDates }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">Ref No:</label>
                                    <div class="col-md-7">
                                        <p class="text-left sbold">
                                            {{ vm.policy.refNo }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">Quote Number:</label>
                                    <div class="col-md-7 sbold">
                                        <p class="text-left">
                                            {{ vm.policy.quoteNo }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">ISR Policy Number:</label>
                                    <div class="col-md-7">
                                        <p class="text-left sbold">
                                            {{ vm.policy.policyNo }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">DIC Policy Number:</label>
                                    <div class="col-md-7">
                                        <p class="text-left sbold">
                                            {{ vm.policy.dicPolicyNo }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-top-10">
                                <div class="col-md-12">
                                    <label for="firstName" class="col-md-5 control-label">Underwriter:</label>
                                    <div class="col-md-7">
                                        <p class="text-left">
                                            {{ vm.underwriter.value }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <uib-tabset active="vm.activeTab">
                    <uib-tab index="0" heading="Summary" active="true">
                        <div ng-include="'app/components/policy/summary/_summaryForm.html'"></div>
                    </uib-tab>
                    <uib-tab index="1" heading="Locations" ng-click="vm.loadLocations()">
                        <div ng-include="'app/components/policy/locations/locations.html'"></div>
                    </uib-tab>
                    <uib-tab index="2" heading="Risk">Risk</uib-tab>
                    <uib-tab index="3" heading="Sublimits">
                        <div ng-include="'app/components/policy/sublimits/_sublimitForm.html'"></div>
                    </uib-tab>
                    <uib-tab index="4" heading="Deductibles">
                        <div ng-include="'app/components/policy/deductibles/_deductibleForm.html'"></div>
                    </uib-tab>
                    <uib-tab index="5" heading="History">History</uib-tab>
                    <uib-tab index="6" heading="Endorsements">Endorsements</uib-tab>
                    <uib-tab index="7" heading="Binding Authority">Binding Authority</uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>