﻿<div class="form-body">
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-danger" ng-show="vm.saveErrors.length">
                This user could not be registered because of the following:
                <ul>
                    <li ng-repeat="error in vm.saveErrors">
                        {{error}}
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" for="FirstName">First Name *</label>
                <div class="col-md-8">
                    <input type="text" id="FirstName" name="FirstName" class="form-control" ng-model="vm.user.firstName" required placeholder="First Name" maxlength="100" />
                    <span ng-show="userForm.FirstName.$error.required && !userForm.FirstName.$pristine" class="text-warning">This field is required.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" for="LastName">Last Name *</label>
                <div class="col-md-8">
                    <input type="text" id="LastName" name="LastName" class="form-control" ng-model="vm.user.lastName" required placeholder="Last Name" maxlength="100" />
                    <span ng-show="userForm.LastName.$error.required && !userForm.LastName.$pristine" class="text-warning">This field is required.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" for="Email">Email *</label>
                <div class="col-md-8">
                    <input type="email" id="Email" name="Email" class="form-control" ng-model="vm.user.email" required placeholder="Email" maxlength="200" />
                    <span ng-show="userForm.Email.$error.required && !userForm.Email.$pristine" class="text-warning">This field is required.</span>
                    <span ng-show="userForm.Email.$error.email && !userForm.Email.$pristine" class="text-warning">Invalid email address.</span>
                    <span ng-show="vm.emailExists && userForm.Email.$pristine" class="text-warning">Email already exists.</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" for="Email">Timezone *</label>
                <div class="col-md-8">
                    <select id="Timezone" name="Timezone" class="form-control" ng-model="vm.user.timezoneID" required placeholder="Timezone" ng-options="timezone.id as timezone.name for timezone in vm.timezones">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" for="Mobile">Mobile</label>
                <div class="col-md-8">
                    <input type="text" id="Mobile" name="Mobile" class="form-control" ng-model="vm.user.mobilePhone" placeholder="Mobile" maxlength="50" />
                    <!--<span ng-show="userForm.Mobile.$error.required && !userForm.Mobile.$pristine" class="text-warning">This field is required.</span>-->
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" for="WorkPhone">Work Phone</label>
                <div class="col-md-8">
                    <input type="text" id="WorkPhone" name="WorkPhone" class="form-control" ng-model="vm.user.workPhone" placeholder="Work Phone" maxlength="50" />
                    <!--<span ng-show="userForm.WorkPhone.$error.required && !userForm.WorkPhone.$pristine" class="text-warning">This field is required.</span>-->
                </div>
            </div>
            <div class="form-group" ng-show="vm.id">
                <label class="control-label col-md-4"></label>
                <div class="col-md-8 nopadding">
                    <div class="col-md-12 nopadding">
                        <label class="radio-inline">
                            <input type="checkbox" ng-model="vm.user.canApproveInvoice" /> Can Approve Invoice
                        </label>
                    </div>
                </div>
            </div>

            <!--<div class="form-group">
                <label class="control-label col-md-3"></label>
                <div class="col-md-9">
                    <div class="col-md-12">
                        <label class="radio-inline">
                            <input type="checkbox" ng-model="vm.user.enabled" /> Enabled
                        </label>
                    </div>
                </div>
            </div>-->
        </div>
        <!-- Removed System Permission -->
        <!--<div class="col-md-6" ng-hide="vm.isNew">
            <div class="col-lg-12 col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject">System Permissions</span>
                            
                        </div>
                        <div class="btn-group pull-right">
                            <a class="btn btn-sm dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                                Actions
                                <i class="fa fa-angle-down"></i>
                            </a>

                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="" ng-click="vm.selectAllPermissions(true)">
                                        Select All
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="vm.selectAllPermissions(false)">
                                        Select None
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                             <span class="caption-subject">System</span>
                            <div js-tree="vm.treeConfig" ng-model="vm.treeData" should-apply="vm.ignoreModelChanges()" tree="vm.treeInstance" tree-events="ready:readyCB;create_node:createNodeCB"></div>
                         
                               <span class="caption-subject">Onboarding</span>
                            <div js-tree="vm.treeConfigOnboarding" ng-model="vm.treeDataOnboarding" should-apply="vm.ignoreModelChanges()" tree="vm.treeInstanceOnboarding" tree-events="ready:readyCB;create_node:createNodeCB"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
<!-- Removed Client Permission -->
<!--<div class="row">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject">Client Permissions</span>
            </div>
        </div>
        <div class="portlet-body form form-horizontal">

            <div class="table-responsive" ng-style="vm.isUISelect==true?{'overflow-x':'auto'}:{'overflow':'inherit'}">
                <table class="table table-hover  " id="userTable">
                    <thead>
                        <tr>
                            <th class="text-left" style="width:20%;" data-field="name" tabindex="0">
                                <div class="th-inner">Client</div>
                                <div class="fht-cell">
                                </div>
                            </th>
                            <th class="text-left" style="width:20%;" data-field="name">
                                <div class="th-inner">Department</div>
                                <div class="fht-cell">
                                </div>
                            </th>
                            <th class="text-left" style="width:20%;" data-field="name">
                                <div class="th-inner">Site</div>
                                <div class="fht-cell">
                                </div>
                            </th>
                          
                            <th class="text-left" data-field="name" tabindex="0">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="client in vm.user.clients">
                            <td>{{ client.clientName }}</td>
                            <td>{{ client.clientDepartmentName }}</td>
                            <td>{{ client.clientSiteName }}</td>
                        
                            <td><i style="cursor: pointer;" class="fa fa-trash" ng-click="vm.deleteClient(client)"></i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ui-select ng-model="vm.selectedClient" on-select="vm.onSelectClient($select.selected, vm.selectedClientDepartment, vm.selectedClientSites)" ng-click="vm.onClickSelectClient()">
                                    <ui-select-match placeholder="Select a Client">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in vm.clients">
                                        {{item.name}}
                                    </ui-select-choices>
                                </ui-select>

                            </td>

                            <td>
                                <ui-select ng-model="vm.selectedClientDepartment" on-select="vm.onSelect(vm.selectedClient, $select.selected, vm.selectedClientSites)" ng-click="vm.onClickSelectClient()">
                                    <ui-select-match placeholder="Select a Department">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in vm.clientDepartments">
                                        {{item.name}}
                                    </ui-select-choices>
                                </ui-select>
                            </td>

                            <td>
                                <ui-select ng-model="vm.selectedClientSites" on-select="vm.onSelect(vm.selectedClient, vm.selectedClientDepartment, $select.selected)" ng-click="vm.onClickSelectClient()">
                                    <ui-select-match placeholder="Select a Site">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in vm.clientSites" refresh="vm.refresh($select.search)">
                                        {{item.name}}
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <tr><td colspan="6"><span ng-show="vm.errorDropdown && vm.errorDropdown!=null" class="text-danger">{{vm.errorDropdown}}</span></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->