<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="home">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span class="font-grey-cascade">Administration</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="users">Users</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span class="font-grey-cascade">Edit</span>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->

<!-- BEGIN MAIN CONTENT -->
<div class="profile-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light margin-top-20">
                <div class="portlet-body form">
                    <form class="form-horizontal" role="form" name="newSystemUserForm" ng-submit="vm.editUser()">
                        <div ng-include="'app/components/user/_userForm.html'"></div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn green-jungle" ladda="vm.saving">Save</button>
                                    <a ui-sref="users" class="btn btn-default" type="button">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<!-- END MAIN JS & CSS -->
