<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="home">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span class="font-grey-cascade">Administration</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span class="font-grey-cascade">Users</span>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12 margin-top-20">
        <div class="portlet light bordered ">
            <div class="portlet-title">
                <div class="caption ">
                    <i class="ep-header-icon ep-header-icon-users"></i>
                    <span class="caption-subject">Users</span>
                </div>
                <span class="pull-right">
                    <a ui-sref="usersadd" class="btn green-jungle custom-secondary-button">
                        <i class="glyphicon glyphicon-plus"></i> Add New 
                    </a>
                </span>
            </div>
            <div class="form-group">
                <div class="table-scrollable" style="border: none;">
                    <div id="toolbar">
                        <form class="form-horizontal">
                            <div class="col-sm-12 col-md-4 form-group">
                                <div class="form-group">
                                    <label for="firstName" class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="fullName" name="fullName" ng-model="vm.user.FullName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 form-group">
                                <div class="form-group">
                                    <label for="firstName" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="firstName" name="firstName" ng-model="vm.user.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 form-group" style="padding-top: 7px;">
                                <label for="inactive" class="col-md-3 control-label"></label>
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox" class="form-control" id="inactive" name="inactive" ng-model="vm.user.Inactive">
                                    Show only inactive users
                                    <span></span>
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <span class="pull-right">
                                <button type="submit" class="btn ep-blue-bg simple-form-button" ng-click="vm.search()">Search</button>
                                <button type="button" class="btn default simple-form-button" ng-click="vm.clear()">Clear</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <table bt settings="vm.table" id="userTable"></table>
            </div>
        </div>
    </div>
</div>