﻿<div>
    <!-- BEGIN PAGE SPINNER -->
    <div ng-spinner-bar class="page-spinner-bar" id="mainPageSpinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <!-- END PAGE SPINNER -->
    <!-- BEGIN HEADER -->
    <!--<div ng-include="'app/shared/header/header.html'" ng-controller="headerController" class="page-header navbar navbar-fixed-top"> </div>-->
    <header class="page-header navbar navbar-fixed-top custom-navigation-banner"></header>
    <!-- END HEADER -->
    <div class="clearfix"> </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <!--<div ng-include="'app/shared/sidebar/sidebar.html'" ng-controller="sidebarController" class="page-sidebar-wrapper"> </div>-->
        <sidebar class="page-sidebar-wrapper"></sidebar>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content custom-content-background">
                <!-- BEGIN ACTUAL CONTENT -->
                <div ui-view class="fade-in-up"> </div>
                <!-- END ACTUAL CONTENT -->
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <!--<div ng-include="'app/shared/footer/footer.html'" ng-controller="footerController" class="page-footer"> </div>-->
    <footer class="page-footer"></footer>
    <!-- END FOOTER -->
</div>

