﻿<form class="form-horizontal" role="form" name="deductiblesForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" ng-show="vm.errors.length">
                This Location could not be added because of the following:
                <ul>
                    <li ng-repeat="e in vm.errors">
                        {{e}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase font-dark">Declared Values</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-no-bordered">
                        <thead>
                            <tr>
                                <th style="width: 30%"></th>
                                <th style="width: 30%">Total Declared Values</th>
                                <th style="width: 40%">
                                    <div class="row">
                                        <span class="summary-declared-header">
                                            Epsilon Share:
                                        </span>
                                        <span>
                                            <input type="text" class="form-control summary-container summary-number-sm clean-mg-bottom blue pull-right text-right" ng-model="vm.summary.epsilonShare" />
                                        </span>
                                        <!--<div class="col-md-8">
                                            Epsilon Share:
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control summary-container summary-number-sm clean-mg-bottom blue pull-right text-right" ng-model="vm.summary.epsilonShare" />
                                        </div>-->
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Policy Limit:</td>
                                <td class="text-right">
                                    <input type="text" class="form-control summary-container summary-declared-policy summary-number clean-mg-bottom blue pull-right text-right" ng-model="vm.summary.policyLimit" />
                                </td>
                                <td class="text-right">$10,000,000</td>
                            </tr>
                            <tr>
                                <td>Total DV Section 1:</td>
                                <td class="text-right">$22,035,623</td>
                                <td class="text-right">$22,035,623</td>
                            </tr>
                            <tr>
                                <td>Total DV Section 2:</td>
                                <td class="text-right">$300,000</td>
                                <td class="text-right">$300,000</td>
                            </tr>
                            <tr>
                                <td>Total DV:</td>
                                <td class="text-right">$22,035,623</td>
                                <td class="text-right">$22,035,623</td>
                            </tr>
                            <tr>
                                <td>Number of locations:</td>
                                <td class="text-right">16</td>
                                <td class="text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption ">
                        <span class="caption-subject font-dark bold uppercase">Other</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-8 col-md-9 control-label text-left">Deductible:</label>
                                        <div class="col-lg-4 col-md-3 sublimit-input">
                                            <input type="text" class="form-control summary-container summary-number clean-mg-bottom blue pull-right text-right" ng-model="vm.summary.deductible" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-8 col-md-9 control-label text-left">Rate quoted:</label>
                                        <div class="col-lg-4 col-md-3 sublimit-input">
                                            <input type="text" class="form-control summary-container summary-number clean-mg-bottom blue pull-right text-right" ng-model="vm.summary.rateQuoted" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-8 col-md-9 control-label text-left">Combined risks / DIC:</label>
                                        <div class="col-lg-4 col-md-3 sublimit-input">
                                            <select class="form-control summary-container summary-number clean-mg-bottom blue pull-right text-right" id="combinedRisks" name="combinedRisks" ng-model="vm.summary.combinedRisks" ng-options="type.id as type.value for type in vm.yesNoList | orderBy:'value'" required></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-8 col-md-9 control-label text-left">Brokerage:</label>
                                        <div class="col-lg-4 col-md-3 sublimit-input">
                                            <input type="text" class="form-control summary-container summary-number clean-mg-bottom blue pull-right text-right" ng-model="vm.summary.brokerage" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-8 col-md-9 control-label text-left">Survey Fee Quoted (ex GST):</label>
                                        <div class="col-lg-4 col-md-3 sublimit-input">
                                            <input type="text" class="form-control summary-container summary-number clean-mg-bottom blue pull-right text-right" ng-model="vm.summary.surveyFee" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-8 col-md-9 control-label text-left">Policy Fee Quoted (ex GST):</label>
                                        <div class="col-lg-4 col-md-3 sublimit-input">
                                            <input type="text" class="form-control summary-container summary-number clean-mg-bottom blue pull-right text-right" ng-model="vm.summary.policyFee" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-8 col-md-9 control-label text-left">Base Premium (Epsilon Share and Term):</label>
                                        <div class="col-lg-4 col-md-3 sublimit-input">
                                            <input type="text" class="form-control summary-container summary-number clean-mg-bottom blue pull-right text-right" ng-model="vm.summary.basePremium" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase font-dark">Description of Risk</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-3 control-label text-left">Business Description:</label>
                                        <div class="col-lg-7 col-md-8 sublimit-input">
                                            <textarea ng-model="vm.summary.businessDescription" class="form-control summary-textarea clean-mg-bottom blue"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-3 control-label text-left">Age of Business:</label>
                                        <div class="col-lg-7 col-md-8 sublimit-input">
                                            <textarea ng-model="vm.summary.ageOfBusiness" class="form-control summary-textarea clean-mg-bottom blue"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-3 control-label text-left">Website:</label>
                                        <div class="col-lg-7 col-md-3 sublimit-input">
                                            <input type="text" class="form-control summary-container clean-mg-bottom blue" ng-model="vm.summary.website" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption ">
                        <span class="caption-subject font-dark bold uppercase">Quote Log</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-3 control-label text-left">Date Quote Received:</label>
                                        <div class="col-lg-8 col-md-9 sublimit-input">
                                            <!--<label class="form-control sublimit-container blue text-right" inline-edit></label>-->
                                            <input type="text" class="form-control summary-container summary-datepicker clean-mg-bottom blue pull-right" ng-model="vm.summary.dateQuoteReceived" date-picker/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-3 control-label text-left">Date Quote Registered:</label>
                                        <div class="col-lg-8 col-md-9 sublimit-input">
                                            <!--<label class="form-control sublimit-container blue text-right" inline-edit></label>-->
                                            <input type="text" class="form-control summary-container summary-datepicker clean-mg-bottom blue pull-right" ng-model="vm.summary.dateQuoteRegistered" date-picker/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-3 control-label text-left">Comments:</label>
                                        <div class="col-lg-8 col-md-9 sublimit-input">
                                            <textarea ng-model="vm.summary.comments" class="form-control summary-textarea clean-mg-bottom blue"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>