﻿<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-danger" ng-show="vm.errors.length">
            This Location could not be added because of the following:
            <ul>
                <li ng-repeat="e in vm.errors">
                    {{e}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">Situation</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-group">
                    <label for="address" class="col-lg-4 col-md-5 control-label">Address</label>
                    <div class="col-lg-8 col-md-7">
                        <textarea class="form-control" ng-model="vm.location.address" id="address" required></textarea>
                        <span ng-show="locationForm.address.$error.required && !locationForm.address.$pristine" class="text-warning">This field is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pCode" class="col-lg-4 col-md-5 control-label">P'Code</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" ng-model="vm.location.pCode" id="pCode" required/>
                        <span ng-show="locationForm.pCode.$error.required && !locationForm.pCode.$pristine" class="text-warning">This field is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="occupationId" class="col-lg-4 col-md-5 control-label">Occupation</label>
                    <div class="col-lg-8 col-md-7">
                        <ui-select ng-model="vm.location.occupationId" name="occupationId" required>
                            <ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in vm.occupationList| orderBy:'value'" refresh="vm.searchOccupation($select.search)">
                                {{item.value}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="propertyOwnerOnly" class="col-lg-4 col-md-5 control-label">Property Owner Only</label>
                    <div class="col-lg-4">
                        <select class="form-control" id="propertyOwnerOnly" name="propertyOwnerOnly" ng-model="vm.location.propertyOwnerOnly" ng-options="type.id as type.value for type in vm.yesNoList | orderBy:'value'" required></select>
                        <span ng-show="locationForm.propertyOwnerOnly.$error.required && !locationForm.propertyOwnerOnly.$pristine" class="text-warning">This field is required.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption ">
                    <span class="caption-subject font-dark bold uppercase">Declared Values</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-group">
                    <label for="section1Values" class="col-lg-4 col-md-5 control-label">Setion 1 Values</label>
                    <div class="col-lg-3">
                        <input type="number" class="form-control" ng-model="vm.location.section1Values" id="section1Values" name="section1Values" step="0.01" required/>
                        <span ng-show="locationForm.section1Values.$error.required && !locationForm.section1Values.$pristine" class="text-warning">This field is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="section2Values" class="col-lg-4 col-md-5 control-label">Section 2 Values</label>
                    <div class="col-lg-3">
                        <input type="number" class="form-control" ng-model="vm.location.section2Values" id="section2Values" name="section2Values" step="0.01" required/>
                        <span ng-show="locationForm.section2Values.$error.required && !locationForm.section2Values.$pristine" class="text-warning">This field is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="totalDV" class="col-lg-4 col-md-5 control-label">Total DV</label>
                    <div class="col-lg-3">
                        <span>{{ (vm.location.section1Values + vm.location.section2Values) | currency }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="indemnityPeriodId" class="col-lg-4 col-md-5 control-label">Indemnity Period</label>
                    <div class="col-lg-2">
                        <select class="form-control" id="indemnityPeriodId" name="indemnityPeriodId" ng-model="vm.location.indemnityPeriodId" ng-options="type.id as type.value for type in vm.indemnityPeriodList | orderBy:'id'" required></select>
                        <span ng-show="locationForm.indemnityPeriodId.$error.required && !locationForm.indemnityPeriodId.$pristine" class="text-warning">This field is required.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">Construction</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="constructionYear" class="col-lg-4 col-md-5 control-label">Construction Year</label>
                                <div class="col-lg-3">
                                    <input type="number" class="form-control" ng-model="vm.location.constructionYear" id="constructionYear" required/>
                                    <span ng-show="locationForm.constructionYear.$error.required && !locationForm.constructionYear.$pristine" class="text-warning">This field is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wallsInteriorId" class="col-lg-4 col-md-5 control-label">Walls Interior</label>
                                <div class="col-lg-8 col-md-7">
                                    <select class="form-control" id="wallsInteriorId" name="wallsInteriorId" ng-model="vm.location.wallsInteriorId" ng-options="type.id as type.value for type in vm.wallsInteriorList | orderBy:'value'" required></select>
                                    <span ng-show="locationForm.wallsInteriorId.$error.required && !locationForm.wallsInteriorId.$pristine" class="text-warning">This field is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wallsExteriorId" class="col-lg-4 col-md-5 control-label">Walls Exterior</label>
                                <div class="col-lg-8 col-md-7">
                                    <select class="form-control" id="wallsExteriorId" name="wallsExteriorId" ng-model="vm.location.wallsExteriorId" ng-options="type.id as type.value for type in vm.wallsExteriorList | orderBy:'value'" required></select>
                                    <span ng-show="locationForm.wallsExteriorId.$error.required && !locationForm.wallsExteriorId.$pristine" class="text-warning">This field is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="constructionCategoryId" class="col-lg-4 col-md-5 control-label">Construction Category</label>
                                <div class="col-lg-8 col-md-7">
                                    <select class="form-control" id="constructionCategoryId" name="constructionCategoryId" ng-model="vm.location.constructionCategoryId" ng-options="type.id as type.value for type in vm.constructionCategoryList | orderBy:'value'" required></select>
                                    <span ng-show="locationForm.constructionCategoryId.$error.required && !locationForm.constructionCategoryId.$pristine" class="text-warning">This field is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="roofId" class="col-lg-4 col-md-5 control-label">Roof</label>
                                <div class="col-lg-8 col-md-7">
                                    <select class="form-control" id="roofId" name="roofId" ng-model="vm.location.roofId" ng-options="type.id as type.value for type in vm.roofList | orderBy:'value'" required></select>
                                    <span ng-show="locationForm.roofId.$error.required && !locationForm.roofId.$pristine" class="text-warning">This field is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="floorId" class="col-lg-4 col-md-5 control-label">Floor</label>
                                <div class="col-lg-8 col-md-7">
                                    <select class="form-control" id="floorId" name="floorId" ng-model="vm.location.floorId" ng-options="type.id as type.value for type in vm.floorList | orderBy:'value'" required></select>
                                    <span ng-show="locationForm.floorId.$error.required && !locationForm.floorId.$pristine" class="text-warning">This field is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject bold uppercase font-dark">Protection</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fireProtectionId" class="col-lg-4 col-md-5 control-label">Fire Protection</label>
                                <div class="col-lg-8 col-md-7">
                                    <!--<ui-select multiple ng-model="vm.location.fireProtection" theme="bootstrap" sortable="true" close-on-select="false" class="form-control" required>
                                        <ui-select-match placeholder="Select Fire Protection...">{{$item.value}}</ui-select-match>
                                        <ui-select-choices repeat="item in vm.fireProtectionList">
                                            <div ng-bind-html="item.value | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>-->
                                    <select class="form-control" id="fireProtectionId" name="fireProtectionId" ng-model="vm.location.fireProtectionId" ng-options="type.id as type.value for type in vm.fireProtectionList | orderBy:'value'" required></select>
                                    <span ng-show="locationForm.fireProtectionId.$error.required && !locationForm.fireProtectionId.$pristine" class="text-warning">This field is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fireDetectionId" class="col-lg-4 col-md-5 control-label">Fire Detection</label>
                                <div class="col-lg-8 col-md-7">
                                    <select class="form-control" id="fireDetectionId" name="fireDetectionId" ng-model="vm.location.fireDetectionId" ng-options="type.id as type.value for type in vm.fireDetectionList | orderBy:'value'" required></select>
                                    <span ng-show="locationForm.fireDetectionId.$error.required && !locationForm.fireDetectionId.$pristine" class="text-warning">This field is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fireBrigadeId" class="col-lg-4 col-md-5 control-label">Fire Brigade</label>
                                <div class="col-lg-8 col-md-7">
                                    <select class="form-control" id="fireBrigadeId" name="fireBrigadeId" ng-model="vm.location.fireBrigadeId" ng-options="type.id as type.value for type in vm.fireBrigadeList | orderBy:'value'" required></select>
                                    <span ng-show="locationForm.fireBrigadeId.$error.required && !locationForm.fireBrigadeId.$pristine" class="text-warning">This field is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="burglaryProtectionId" class="col-lg-4 col-md-5 control-label">Burglary Protection</label>
                                <div class="col-lg-8 col-md-7">
                                    <select class="form-control" id="burglaryProtectionId" name="burglaryProtectionId" ng-model="vm.location.burglaryProtectionId" ng-options="type.id as type.value for type in vm.burglaryProtectionList | orderBy:'value'" required></select>
                                    <span ng-show="locationForm.burglaryProtectionId.$error.required && !locationForm.burglaryProtectionId.$pristine" class="text-warning">This field is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="waterSupplyTypeId" class="col-lg-4 col-md-5 control-label">Water Supply Type</label>
                                <div class="col-lg-8 col-md-7">
                                    <select class="form-control" id="waterSupplyTypeId" name="waterSupplyTypeId" ng-model="vm.location.waterSupplyTypeId" ng-options="type.id as type.value for type in vm.waterSupplyTypeList | orderBy:'value'" required></select>
                                    <span ng-show="locationForm.waterSupplyTypeId.$error.required && !locationForm.waterSupplyTypeId.$pristine" class="text-warning">This field is required.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="waterAdequacyId" class="col-lg-4 col-md-5 control-label">Water Adequacy</label>
                                <div class="col-lg-8 col-md-7">
                                    <select class="form-control" id="waterAdequacyId" name="waterAdequacyId" ng-model="vm.location.waterAdequacyId" ng-options="type.id as type.value for type in vm.waterAdequacyList | orderBy:'value'" required></select>
                                    <span ng-show="locationForm.waterAdequacyId.$error.required && !locationForm.waterAdequacyId.$pristine" class="text-warning">This field is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>