﻿<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="form-group" style="padding:2px 0;">
                    <a class="btn btn-default green-jungle custom-secondary-button" ng-click="vm.addLocation()">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add Location
                    </a>
                    <a class="btn btn-info imple-form-button">
                        <i class="glyphicon glyphicon-open"></i>
                        Upload from file
                    </a>
                </div>
                <table ng-if="vm.policyLocationTable" bt settings="vm.policyLocationTable" id="locationsTable"></table>
            </div>
        </div>
    </div>
</div>