﻿<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="home">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="policy">Policy</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="policy">Location</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="policy-add">Add</a>
        </li>
    </ul>
</div>

<div class="row">
        <div class="row margin-top-30">
            <div class="col-md-12">
                <div class="portlet well bg-white clearfix bordered">
                    <div class="portlet-title">
                        <div class="caption">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet bg-white clearfix bordered">
                <div class="portlet-body form">
                    <div class="form-body">
                        <form class="form-horizontal" role="form" name="locationForm" >
                            <div ng-include="'app/components/policy/locations/_locationForm.html'"></div>
                            <div class="row">
                                <div class="form-group text-center" style="padding:2px 0;">
                                    <button type="submit" class="btn btn-default blue custom-secondary-button" id="saveAnother" name="saveAnother" ng-click="vm.saveAndAddAnother(locationForm.$valid)">
                                        <i class="glyphicon glyphicon-floppy-disk"></i>
                                        Save and add another one
                                    </button>
                                    <button type="submit" class="btn btn-default blue custom-secondary-button" id="save" name="save" ng-click="vm.save(locationForm.$valid)">
                                        <i class="glyphicon glyphicon-floppy-disk"></i>
                                        Save and Finish
                                    </button>
                                    <a class="btn btn-default imple-form-button" ng-click="vm.cancel()">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        Cancel
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>