﻿<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="/">
            <img ng-src="{{ user.logo != null ? user.logo : 'assets/images/logo.png' }}" style="height:50px; margin-top:5px; margin-left:25px;" alt="logo" class="logo-default">
        </a>
        <span href="#" class="menu-toggler sidebar-toggler margin-top-20">
        </span>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
    <form class="search-form hide" action="#" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." name="query">
            <span class="input-group-btn">
                <a href="javascript:;" class="btn submit">
                    <i class="icon-magnifier"></i>
                </a>
            </span>
        </div>
    </form>
    <!-- END HEADER SEARCH BOX -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <!--<li class="dropdown dropdown-extended quick-sidebar-toggler">
            <i class="icon-logout"></i>
        </li>-->

           
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true" style="background-color:transparent;">
                    <img alt="" class="img-circle" src="assets/images/profile_picture_placeholder.jpg" style="margin-right: 10px;">
                    <label style="margin-bottom: 0; margin-top: 0;" class="username username-hide-on-mobile">John Doe</label>
                    <!-- <label style="margin-bottom: 0; margin-top: 0;" class="username username-hide-on-mobile">{{user.firstName}} {{user.lastName}}</label> -->
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default" style="width:auto">
                    <li class="divider margin-top-10"></li>
                    <li>
                        <a ui-sref="profile">
                            <i class="icon-user"></i> My Profile
                        </a>
                    </li>
                    <li>
                        <a ng-click="logout()">
                            <i class="icon-key"></i> Log Out
                        </a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->