﻿<form class="login-form" ng-show="!vm.auth.isLoggedIn()" name="loginForm" ng-submit="vm.signin()" novalidate>
    <h3 class="form-title font-ep-blue custom-header-text">Sign In</h3>
    <div class="alert alert-success display-hide" style="display: block;" ng-if="vm.success">
        <span>{{vm.successMsg}}</span>
    </div>
    <div class="alert alert-danger display-hide" style="display: block;" ng-if="vm.errorMsg">
        <span>{{vm.errorMsg}}</span>
    </div>

    <div class="form-group">
        <!--<label class="control-label visible-ie8 visible-ie9">Username</label>-->
        <input class="form-control form-control-solid placeholder-no-fix control-rounded"
               type="text"
               autocomplete="off"
               placeholder="Domain"
               name="domain"
               required
               ng-if="!vm.getSubdomain()"
               ng-model="vm.login.domain">
    </div>

    <div class="form-group">
        <!--<label class="control-label visible-ie8 visible-ie9">Username</label>-->
        <input class="form-control form-control-solid placeholder-no-fix control-rounded"
               type="text"
               autocomplete="off"
               placeholder="Username"
               name="username"
               required
               ng-model="vm.login.username">
    </div>
    <div class="form-group">
        <!--<label class="control-label visible-ie8 visible-ie9">Password</label>-->
        <input name="password"
               class="form-control form-control-solid placeholder-no-fix control-rounded"
               type="password"
               autocomplete="off"
               placeholder="Password"
               required
               ng-model="vm.login.password">
    </div>
    <div class="form-actions">
        <button type="submit" class="btn green uppercase control-rounded" ladda="vm.isProcessing">Login</button>
    </div>
    <div>
        <label class="rememberme check mt-checkbox mt-checkbox-outline" style="margin-top:10px; margin-bottom:0;">
            <input type="checkbox" name="remember" value="1">Remember
            <span></span>
        </label>
        <a ui-sref="reset-password" id="forget-password" class="forget-password">Forgot Password?</a>
    </div>
</form>