﻿<h4 class="font-blue"><center>Invalid activation link. Please contact the administrator for assistance.</center></h4>
<div class="form-actions"></div>
<span id="sendMeBackLink" class="linkform" style="margin-top: 50px">
    <a ui-sref="login"
       id="forget-password"
       style="width: 100%; text-align:center;"
       class="forget-password">Return to sign-in screen</a>
</span>