﻿<div class="login custom-sidebar-background">
    <div class="logo ep-blue custom-navigation-banner">
        <a href="index.html">
            <img src="assets/pages/img/expedo.png" alt="" class="logo-img" />
        </a>
    </div>
    <div class="content custom-sidebar-background" style="margin-top:0;">
        <div id="form-views" ng-cloak ui-view></div>
    </div>
    <div class="copyright">
        &copy; <strong>expedo</strong> <br />
        <!--ABN: 34 603 162 741-->
    </div>
</div>
