﻿
<form class="form-horizontal" role="form" name="deductiblesForm">
    <div class="row">
        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-lg-8 col-md-9 control-label text-left">(i)&nbsp;&nbsp;&nbsp;&nbsp;Earthquake, subterranean fire or volcanic eruption:</label>
                                <div class="col-lg-4 col-md-3 sublimit-input">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-8 col-md-9 control-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;(a) $20,000 or</label>
                                <div class="col-lg-4 col-md-3 sublimit-input">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-8 col-md-9 control-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;(b) an amount equal to 1% of the total Declared Values at the Situation where the damage occurs whichever is the lesser.</label>
                                <div class="col-lg-4 col-md-3 sublimit-input">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-8 col-md-9 control-label text-left">(ii)&nbsp;&nbsp;&nbsp;&nbsp;Named Cyclone losses applicable to all Situations located on or Above the 26th Parallel of Latitude.</label>
                                <div class="col-lg-4 col-md-3 sublimit-input">
                                    <input type="text" class="form-control sublimit-container blue text-right" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-8 col-md-9 control-label text-left">(iii)&nbsp;&nbsp;&nbsp;&nbsp;Consequential Loss:</label>
                                <div class="col-lg-4 col-md-3 sublimit-input">
                                    <input type="text" class="form-control sublimit-container blue text-right" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-8 col-md-9 control-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;(a) Premises in the Vicinity (Prevention of Access)</label>
                                <div class="col-lg-4 col-md-3 sublimit-input">
                                    <input type="text" class="form-control sublimit-container blue text-right" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-8 col-md-9 control-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;(b) Utilities</label>
                                <div class="col-lg-4 col-md-3 sublimit-input">
                                    <input type="text" class="form-control sublimit-container blue text-right" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-8 col-md-9 control-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;(c) Unspecified Supplier's and Customer's Premises</label>
                                <div class="col-lg-4 col-md-3 sublimit-input">
                                    <input type="text" class="form-control sublimit-container blue text-right" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-8 col-md-9 control-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;(d) Closure of the Insured Premises, as specified</label>
                                <div class="col-lg-4 col-md-3 sublimit-input">
                                    <input type="text" class="form-control sublimit-container blue text-right" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-8 col-md-9 control-label text-left">(iv)&nbsp;&nbsp;&nbsp;&nbsp;Personal Property, belonging to Directors and Employees of the Insured whilst on the Insured Premises</label>
                                <div class="col-lg-4 col-md-3 sublimit-input">
                                    <input type="text" class="form-control sublimit-container blue text-right" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-8 col-md-9 control-label text-left">(v)&nbsp;&nbsp;&nbsp;&nbsp;Asbestos Losses</label>
                                <div class="col-lg-4 col-md-3 sublimit-input">
                                    <input type="text" class="form-control sublimit-container blue text-right" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-8 col-md-9 control-label text-left">(vi)&nbsp;&nbsp;&nbsp;&nbsp;All other losses</label>
                                <div class="col-lg-4 col-md-3 sublimit-input">
                                    <input type="text" class="form-control sublimit-container blue text-right" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
