﻿.custom-navigation-banner { background-color: #00aeef !important; }
.custom-login-background { background-color: #2E2A2B !important; }
.custom-primary-button { background-color: #00aeef !important; border-color: #00aeef !important; color: #ffffff !important; }
.custom-secondary-button { background-color: #26C281 !important; border-color: #26C281 !important; color: #FFFFFF !important; }
.btn { background-color: #E1E5EC; color: #4d4d4d; }
.custom-sidebar-background { background-color: #2e2a2b !important; }
.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active > a:hover, .page-sidebar .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a { background-color: #25408f !important; color: #FFFFFF !important; }
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar .page-sidebar-menu > li > a > i, .page-sidebar .page-sidebar-menu li .sub-menu li > a, .page-sidebar .page-sidebar-menu li .sub-menu li > a > i { color: #FFFFFF !important; border-top: 0 solid transparent; font-weight: 400; }
.navbar-nav > li > a > span {  color: #ffffff !important; }
.custom-portlet-color { background-color: #ffffff !important; border-bottom: transparent !important; }
.custom-content-background { background-color: #e8e8e8 !important; }
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span,.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span,.mt-checkbox.mt-checkbox-outline>input:checked~span,.mt-checkbox.mt-checkbox-outline>input:focus~span,.mt-checkbox.mt-checkbox-outline>span,.mt-checkbox.mt-radio-outline:hover>input:not([disabled]):checked~span,.mt-checkbox.mt-radio-outline:hover>input:not([disabled])~span,.mt-checkbox.mt-radio-outline>input:checked~span,.mt-checkbox.mt-radio-outline>input:focus~span,.mt-checkbox.mt-radio-outline>span,.mt-radio.mt-checkbox-outline:hover>input:not([disabled]):checked~span,.mt-radio.mt-checkbox-outline:hover>input:not([disabled])~span,.mt-radio.mt-checkbox-outline>input:checked~span,.mt-radio.mt-checkbox-outline>input:focus~span,.mt-radio.mt-checkbox-outline>span,.mt-radio.mt-radio-outline:hover>input:not([disabled]):checked~span,.mt-radio.mt-radio-outline:hover>input:not([disabled])~span,.mt-radio.mt-radio-outline>input:checked~span,.mt-radio.mt-radio-outline>input:focus~span,.mt-radio.mt-radio-outline>span {    border: 1px solid #808080;    background: 0 0;    border-radius: 4px;}
.mt-radio>span:after { background: #808080; }
.mt-checkbox>span:after { left: 6px; top: 2px; width: 5px; height: 10px; border: solid #808080; border-width: 0 2px 2px 0; transform: rotate(45deg); }.mt-checkbox>input:disabled~span:after { border-color: #808080 }
.mt-radio>input:disabled~span:after { border-color: #808080 }.form-control { background-color: #fff; border: 1px solid #808080; } 
.input-group-addon { color: #fff !important; background-color: #808080; border: 1px solid #808080; }
.input-group-addon > i { color: #fff !important; }
