
.page-header.navbar {
    background: #ffffff !important;
    box-shadow: 0 1px 10px 0 rgba(50,50,50,.2) !important;
}

body, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .page-sidebar  {
    background: #2066B4 !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
    background: #0056a4 !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover, .page-sidebar .page-sidebar-menu > li.active > a:hover, .page-sidebar .page-sidebar-menu > li.active.open > a:hover {
    background: #0056a4 !important;
}

.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
    border-right: 4px solid #0056a4 !important;
}

.page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active > a:hover, .page-sidebar-reversed .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a:hover {
    border-right: 4px solid #0056a4 !important;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username {
    color: #2066B4 !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar .page-sidebar-menu > li.open > a {
    background: #004778 !important;
}

.custom-content-background, .page-bar{
    background: rgb(224, 224, 224) !important;
}

.simple-form-button {
    min-width: 100px;
}

/* [bt] th {
    background: #2066B4 !important;
    color: white;
} */

.text-left {
    text-align: left !important;
}

.sublimit-value {
    color:  #3598DC;
}

.sublimit-container {
    width: 200px;
    cursor: pointer;
    color: #3598dc;
    text-align: right;
    height: 100%;
    min-height: 33px;
    overflow-wrap: break-word;
}

.sublimit-input {
    padding-left: 0px;
}

.clean-pad-left {
    padding-left: 0px;
}
.sub-label {
    font-weight: bold;
    text-decoration: underline;
}

.memoranda-label {
    padding-left: 40px;
}

.summary-container {
    cursor: pointer;
    color: #3598dc;
    text-align: left;
    height: 100%;
    min-height: 33px;
    overflow-wrap: break-word;
}

.summary-textarea {
    min-height: 60px;
    width: 100%;
    cursor: pointer;
    color: #3598dc;
    text-align: left;
    height: 100%;
    min-height: 33px;
    overflow-wrap: break-word;
}

.clean-mg-bottom {
    margin-bottom: 0px;
}

.summary-datepicker {
    width: 250px;
}

.summary-number {
    width: 100%;
    text-align: right;
}

.summary-number-sm {
    width: 80px;
    text-align: right;
}

.summary-declared-policy {
    width: 120px;
}

.summary-declared-header {
    line-height: 3;
}
