/* here you can put your own css to customize and override the theme */
body {
    /*font-weight: 300;*/
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/* Sidebar custom colors */
.page-sidebar .page-sidebar-menu > li.active.open > a, 
.page-sidebar .page-sidebar-menu > li.active > a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
 .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    background-color: #25408F !important;
    border-top-color: transparent;
    color: #fff;
}

.page-sidebar .page-sidebar-menu > li.active.open > a:hover, 
.page-sidebar .page-sidebar-menu > li.active > a:hover, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover {
    background-color: #25408F !important;
    color: #FFFFFF !important;
}

.page-container-bg-solid .page-sidebar .page-sidebar-menu>li.active.open>a>.selected, 
.page-container-bg-solid .page-sidebar .page-sidebar-menu>li.active>a>.selected, 
.page-container-bg-solid .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.selected, 
.page-container-bg-solid .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.selected{
    border-left-color: #25408F !important;

}

/* hover for nav dropdown */
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, 
.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: #009ad4 !important;
}

h5 i, h4 i, h3 i, h2 i, h1 i {
    padding-right:10px;
}

.table.table-light>tbody>tr>td {
    color: #333 !important;
}

.table.table-light.table-hover>tbody>tr:hover>td, 
.table.table-light.table-hover>tbody>tr:hover>th, 
.table.table-light.table-hover>tbody>tr>td:hover, 
.table.table-light.table-hover>tbody>tr>th:hover {
    background-color: #f5f5f5;
}

/* Datepicker font override */
.datepicker table td, 
.datepicker table th, 
.datetimepicker table td, 
.datetimepicker table th {
    font-family: Arial, Helvetica, sans-serif !important;
}

.no-border{
    border: 0 !important;
}

.popover {
    min-width: 276px !important;
}

.ui-select-option {
    -ms-text-overflow: ellipsis; 
    -o-text-overflow: ellipsis; 
    text-overflow: ellipsis; 
    overflow: hidden;
}

h3.page-title {
    margin-top: 15px !important;
}


/* Fix for issue with ngAnimate */
[ui-view].ng-leave {
    display: none !important;
}

/* Progress */
.progress{
    margin-top: 5px;
    margin-bottom: 10px;
}


.checkbox {
    float:left;
    padding-top:8px !important;
    margin-left:10px;
}

.todo-sidebar {
    width: 310px;
}

.display-label {
    padding-top: 7px !important;
}

.text-bold {
    font-weight: bold;
}

.remove-margins {
    margin:0px !important;
}

.text-danger {
    color:#d9534f!important;
}

.label-success {
    background-color: #5cb85c !important;
}