﻿<form class="form-horizontal" role="form" name="sublimitsForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" ng-show="vm.errors.length">
                This record could not be added because of the following:
                <ul>
                    <li ng-repeat="e in vm.errors">
                        {{e}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-12 col-xs-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase font-dark">Section 1: Material Loss or Damage</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="form-section sub-label">The indemnity</h5>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">(a)&nbsp;&nbsp;&nbsp;&nbsp;Architects, Surveyors, Consulting Engineers, Legal and other Fees</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                    <!--<div class="col-lg-4 col-md-3 sublimit-input" ng-if="vm.showHideSublimit.showArchitectInput">
                                        <input type="text" name="arch" class="form-control sublimit-container" ng-model="vm.sublimit.architects"/>
                                    </div>-->
                                    <!--<div class="col-lg-4 col-md-3 sublimit-input">
                                        <span class="sublimit-value" ng-click="vm.toggleSublimit($event)"></span>
                                    </div>-->
                                </div>
                                <div class="form-group">
                                    <label for="fireDetectionId" class="col-lg-8 col-md-9 control-label text-left">(b)&nbsp;&nbsp;&nbsp;&nbsp;Government, Local Government and/or Statutory Authority Fees</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                    <!--<div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>-->
                                </div>
                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">(c)&nbsp;&nbsp;&nbsp;&nbsp;Fire Extinguishment Fees</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">(d)&nbsp;&nbsp;&nbsp;&nbsp;Temporary Protection Costs</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">(e)&nbsp;&nbsp;&nbsp;&nbsp;Costs of Replacing Locks and Keys</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">(f)&nbsp;&nbsp;&nbsp;&nbsp;Location Costs for Burst or Leaking Pipes and Tanks</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">(g)&nbsp;&nbsp;&nbsp;&nbsp;Cost of Clearing Blocked Drains</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">(h)&nbsp;&nbsp;&nbsp;&nbsp;Removal of Debris</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">(i)&nbsp;&nbsp;&nbsp;&nbsp;Personal Property, belonging to Directors and Employees of the Insured whilst on the Insured Premises:</label>
                                    <div class="col-lg-4 col-md-3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">&nbsp; &nbsp; &nbsp; &nbsp; - Limit any one Director and/or Employee, any one loss or event</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">&nbsp; &nbsp; &nbsp; &nbsp; - Maximum amount payable any one loss or event</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">(k)&nbsp;&nbsp;&nbsp;&nbsp;Inventory, Unpacking Costs and Expenses</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">(j)&nbsp;&nbsp;&nbsp;&nbsp;Expediting Costs</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">(l)&nbsp;&nbsp;&nbsp;&nbsp;Customs, Excise and Duties</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">(m)&nbsp;&nbsp;&nbsp;&nbsp;Rewriting of Records Expenditure</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireBrigadeId" class="col-lg-8 col-md-9 control-label text-left">(n)&nbsp;&nbsp;&nbsp;&nbsp;Liability to Make Enquiries</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                            </div>

                            <h5 class="form-section sub-label">Additional Sub-Limits of  Liability</h5>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Burglary and/or Theft of Property (other than Money)</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Theft of Property in the Open Air (other than Money in Transit)</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Theft of Money</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">(i)	whilst contained in the Insured Premises in a Locked Safe:</label>
                                    <div class="col-lg-4 col-md-3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;(a) During Business Hours</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;(b) Outside Business Hours</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">(ii)	whilst contained elsewhere in the Insured Premises:</label>
                                    <div class="col-lg-4 col-md-3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;(a) During Business Hours</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">&nbsp;&nbsp;&nbsp;&nbsp;(b) Outside Business Hours</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">(iii)	whilst in Transit to and from the Insured’s Premises by an Authorised Person or in a Night Safe of any Bank or Financial Institution where the Insured transacts business</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">(iv)	whilst being Carried by Professional Money Carriers or common Carriers, as Insured by the exception and proviso specified in the Property Exclusion 2 (a) of the policy</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">(v)	in the Personal Custody of the Insured and/or Persons Authorised by the Insured whilst contained in their Private Residence.</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Repair and Replacement Cost of Damaged Glass and associated costs</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Property in the Open Air, Damage caused by Wind, Rainwater or Hail</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-3 clean-pad-left">
                                <div class="col-md-6 clean-pad-left"><h5 class="form-section sub-label">Memoranda to Section 1 </h5></div>
                                <div class="col-md-4 clean-pad-left"><button type="button" tabindex="0" class="btn btn-sm btn-outline green-jungle" ng-click="vm.editMemoranda('Section 1 - Memoranda to Section 1')"><i class="fa fa-edit"></i> Edit items</button></div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">6. Extra Cost of Reinstatement</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">7. Additional Extra Cost of Reinstatement</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">17. Loss of Land Value</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">18. Landscaping</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">19. Accidental Damage (as defined by Policy)</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase font-dark">Section 2: Consequential Loss</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="form-section sub-label">Basis of Settlement</h5>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Item 1. &nbsp;&nbsp;&nbsp;&nbsp;Gross Profit</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Item 1. &nbsp;&nbsp;&nbsp;&nbsp;Claims Preparation Costs</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Item 1. &nbsp;&nbsp;&nbsp;&nbsp;Pay-Roll</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Item 1. &nbsp;&nbsp;&nbsp;&nbsp;Severance Pay</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Item 1. &nbsp;&nbsp;&nbsp;&nbsp;Fines and Damages</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Item 1. &nbsp;&nbsp;&nbsp;&nbsp;Contracted Purchases</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Item 1. &nbsp;&nbsp;&nbsp;&nbsp;Accounts Receivable</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Item 1. &nbsp;&nbsp;&nbsp;&nbsp;Additional Increased Cost of Working</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 clean-pad-left">
                                <div class="col-md-6 clean-pad-left"><h5 class="form-section sub-label">Memoranda to Section 2 </h5></div>
                                <div class="col-md-4 clean-pad-left"><button type="button" tabindex="0" class="btn btn-sm btn-outline green-jungle" ng-click="vm.editMemoranda('Section 2 - Memoranda to Section 2')"><i class="fa fa-edit"></i> Edit items </button></div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">12.&nbsp;&nbsp;&nbsp;&nbsp;Premises in the Vicinity (Prevention of Access)</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">13.&nbsp;&nbsp;&nbsp;&nbsp;Utilities</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">14.&nbsp;&nbsp;&nbsp;&nbsp;Unspecified Suppliers' and Customers' Premises - Australia</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">15.&nbsp;&nbsp;&nbsp;&nbsp;Closure of the INsured Premises by Order of a Public Authority</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase font-dark">Section 1 and 2 Combined</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="form-section sub-label">Basis of Settlement</h5>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Acquired Companies</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">New Property Acquisitions</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fireProtectionId" class="col-lg-8 col-md-9 control-label text-left">Flood Damage</label>
                                    <div class="col-lg-4 col-md-3 sublimit-input">
                                        <input type="text" class="form-control sublimit-container blue text-right"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>