﻿<div class="modal-header">
    <h3 class="modal-title">{{ heading }}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group mt-checkbox-list">
                <label class="mt-checkbox mt-checkbox-outline memoranda-label" ng-repeat="(i, value) in vm.checkList track by $index">
                    <input type="checkbox" ng-model="memoranda[i]" />{{ value.label }}
                    <span></span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning btn-thin btn-orig blue" type="button" ng-click="vm.save()"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
    <button class="btn btn-default btn-thin btn-orig" type="button" ng-click="vm.cancel()"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
</div>